<html>
	<head>
		<!-- <link rel="shortcut icon" href="img/icon.ico"/> -->
		<script src="https://code.jquery.com/jquery-3.1.0.min.js"></script>
    <title>Skycode</title>
    <link rel="stylesheet" href="css/thunder.css"/>
	</head>
	<body>
    
    <div id="thunder">

      <svg id="thunder_svg2" width="479px" height="431px" viewBox="0 0 479 431" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
          <!-- Generator: Sketch 50.2 (55047) - http://www.bohemiancoding.com/sketch -->
          <desc>Created with Sketch.</desc>
          <defs></defs>
          <g id="Page-1" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
              <path d="M385.679688,189.148438 C377.264864,213.322234 372.026014,206.383428 375.753906,230.164062 C376.04476,232.019451 376.691775,234.550852 375.269531,235.777344 C364.597679,244.980366 347.3015,247.494026 334.414062,248.761719" id="Path-60" stroke="#979797"></path>
              <path d="M373.082031,273.6875 C371.678385,274.458333 370.283784,275.24587 368.871094,276 L364.980469,284.972656 C343.733133,296.31503 369.410062,260.537079 342.636719,288.832031 C339.390814,292.26241 342.273378,301.172786 337.640625,302.089844 L334.789062,305.398438 C292.526195,313.764411 317.36405,303.714265 302.789062,309.882812" id="Path-61" stroke="#979797"></path>
          </g>
      </svg>

    </div>
  </body>
</html>