@font-face {
  font-family: 'Decovar';
  src: url('/decovar.ttf') format("truetype");
}

body{
  background-color: black;
  margin: 0px;
  font-family: Decovar;
  font-size: 100px;
}

.page-thunder-to-text {
	position: relative;
	overflow: hidden;
	canvas {
		display: block;
	}
}

